:root {
  --waldo-red: #d8232a;
  --waldo-blue: #368bf6;
  --waldo-dark-red: #c12f22;
  --waldo-yellow: #ffeb52;
  --title-font: 'Luckiest Guy';
  --default-font: 'Open Sans';
}

html {
  font-family: var(--default-font);
  box-sizing: border-box;
}

.reticle {
  position: absolute;
  width: 50px;
  height: 50px;
}

.character-select {
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  background-color: white;
  padding: 0.5rem 0.7rem 0rem 0.7rem;
  border-bottom: solid 0.5rem var(--waldo-red);
  box-shadow: 20px 20px 30px -20px rgba(0, 0, 0, 1);
}

.character-select__character {
  width: 40px;
  height: auto;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.character--selectable {
  cursor: pointer;
}

.character--inactive {
  opacity: 0.5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--waldo-red);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  max-height: 100px;
}

.invisible-header {
  height: 100px;
  max-height: 100px;
}

.innerHeader {
  min-width: clamp(0px, 100vw, 1800px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: clamp(75px, 8vw, 100px);
}

.header__title-flex {
  display: flex;
}

.header__title {
  font-family: var(--title-font);
  font-size: clamp(2rem, 5vw, 4rem);
  -webkit-text-stroke: 2px black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 1rem;
  text-decoration: none;
}

.title-red {
  color: var(--waldo-dark-red);
}

.title-blue {
  color: var(--waldo-blue);
}

.header__title-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 480px) {
  .header__title-flex {
    flex-direction: column;
  }

  .header__title {
    padding-top: 0rem;
  }
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.full-screen-flex {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.inner-container {
  min-width: clamp(0px, 100vw, 1400px);
  max-width: 1400px;
}

.inner-container-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stage-select__title {
  color: var(--waldo-blue);
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem;
}

.stage-card {
  background-color: var(--waldo-red);
  margin: 1rem;
  width: min-content;
  max-width: 90vw;
}

.stage-card__title {
  padding: clamp(0.5rem, 2vh, 1rem);
  color: white;
  font-weight: 700;
  font-size: clamp(0.5rem, 2vh, 1rem);
}

.stage-card__image {
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: clamp(200px, 80vw, 600px);
  cursor: pointer;
}

.pregame-flex,
.leaderboard {
  display: flex;
  justify-content: center;
}

.pregame,
.leaderboard-inner {
  display: flex;
  width: clamp(0px, 100vw, 1200px);
  flex-direction: column;
  align-items: center;
}

.pregame__characters-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.pregame__character {
  width: clamp(0px, 25vw, 300px);
}

.pregame__start-game-button {
  border: none;
  width: clamp(0px, 90vw, 600px);
  background-color: var(--waldo-blue);
  text-align: center;
  font-weight: 800;
  color: white;
  padding: 1rem 2rem;

  border-radius: 0.25rem;
  border-bottom: solid 0.25rem #63a6f8;
  margin-top: 2rem;
  font-family: 'Open Sans';
  font-size: 1rem;
}

.pregame__start-game-button:hover {
  background-color: #0b6fea;
  border-bottom: solid 0.25rem #2985f5;
}

.pregame__text-container {
  width: 100%;
  margin-bottom: 2rem;
}

.pregame__title {
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  color: var(--waldo-blue);
  margin-bottom: 0.25rem;
}

.pregame__description {
  margin-left: 1rem;
}

.timer {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem;
}

.gameplay__image-flex {
  display: flex;
  justify-content: center;
  width: max-content;
  min-width: 100vw;
}

.leaderboard-entry {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
}

.leaderboard-user {
  background-color: #ee9699;
  font-weight: 700;
}

.leaderboard-pos-name {
  display: flex;
}

.leaderboard-position {
  width: 2rem;
}

.leaderboard-title {
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
  font-size: 1.4rem;
  font-family: var(--title-font);
}

.leaderboard-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaderboard-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-form__text-input {
  width: clamp(0px, 90vw, 600px);
  padding: 1rem 1rem;
  font-weight: 800;
  border-radius: 0.25rem;
  font-size: 2rem;
}

.leaderboard-form__title {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.gameplay__found-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameplay__found {
  font-family: var(--title-font);
  color: var(--waldo-yellow);
  font-size: clamp(2rem, 5vw, 4rem);
  -webkit-text-stroke: 2px black;
  text-align: center;
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.75s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 2 alternate both;
  animation: slide-in-fwd-center 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2
    alternate both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-11-5 11:27:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
